<form action="/api/password-reset/reset-password/{{token}}" method="POST">
  <label for="password">Nueva contraseña:</label>
  <input type="password" id="password" name="password" >
  <button type="submit">Aplicar cambio de contraseña</button>
</form>