body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
}

nav {
    display: flex;
    padding: 0 20px 20px 20px;
    justify-content: center;
}
.buttonNav {
    width: 80px;
    padding: 5px 20px; 
    margin: 5px; 
    background-color: #444;
    border-radius: 30px;
    justify-self: center;
    text-align: center;
    transition: background-color 1s;
}
.buttonNav a{
    font-family: 'Open Sans', serif;
    font-size: 15px;
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
.buttonNav:hover {
    background-color: #660096; 
}

.container {
    min-width: 320px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.container .title {
    width: 100%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 20px 0 20px 0 ;
    margin: 0;
}
.container h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

.cartProducts {
    width: 80%;
    margin: 0 auto;
    background-color: #2a2a2a;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
}
.cartProducts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.cartProducts li {
    display: grid;
    flex-direction: r;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    background-color: #444;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-button {
    background-color: #660096;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.product-button:hover {
    background-color: #55007a;
}
.product-button:focus {
    outline: none;
}

.removeAll-button {
    display: flex;
    width: 300px;
    justify-content: center;
    background-color: #660096;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.removeAll-button button:hover {
    background-color: #55007a;
}
.removeAll-button button:focus {
    outline: none;
}

.checkout-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #660096;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #55007a;
}