body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
}

nav {
    display: flex;
    padding: 10px 20px 0 20px;
    justify-content: center;
}
.buttonNav {
    width: 80px;
    padding: 5px 20px; 
    margin: 5px; 
    background-color: #444;
    border-radius: 30px;
    justify-self: center;
    text-align: center;
    transition: background-color 1s;
}
.buttonNav a{
    font-family: 'Open Sans', serif;
    font-size: 15px;
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
.buttonNav:hover {
    background-color: #660096; 
}

.container {
    min-width: 320px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    padding-bottom: 20px;
}
.container .title {
    width: 100%;
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 20px 0 20px 0 ;
    margin: 0;
}
.container h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
}

.containerInfo {
    display:flex;
    flex-direction: column;
    padding: 20px;
}
.containerInfo p {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
}

hr {
    width: 100%;
}


a {
    cursor: pointer;
    color: #ffffff;
    transition: color 1s;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


.btn {
    cursor: pointer;
    margin-top: 5px;
    color: white;
    background-color: #4f0074;
    border-radius: 6px;
    border: 1px solid;
    padding: 5px;
    transition: background-color 1s;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
}
.btn:hover {
    background-color: rgb(162, 0, 255);
}

